<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/style.css' | url }}">
    <title>Document</title>
</head>
<body>

<div class="navbar bg-primary justify-center">

    <div class="navbar-center lg:flex">  
        <a href="/"class="btn btn-primary text-xl">Animations</a>  
    </div>

    <div class="navbar-center lg:flex">  
        <a href="/3D"class="btn btn-primary text-xl">3D</a>
    </div>

    <div class="navbar-center lg:flex">  
        <a href="/2D"class="btn btn-primary text-xl btn-active">2D</a>
    </div>

    <div class="navbar-center lg:flex">  
        <a href="/About"class="btn btn-primary text-xl">About</a>
    </div>

  </div>

</body>