<!DOCTYPE html>
<html lang="en" class="bg-primary">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/style.css' | url }}">
    <title>Document</title>
</head>
<body>
    <header>



    </header>

<nav>
<div>
    <p
     class="justify-left text-xl pl-8 pt-8 font-big-big"> Lise Marchal </p>
    <p class="justify-left text-xl whitespace-pre m-2 font-big-big">            Game artist and animator </p>

    <div class ="navbar justify-center p-0 items-end translate-y-2">
    

    <div class="navbar-center lg:flex">  
        <a href="/"class="btn btn-lg bg-base-100 text-xl ">Animations</a>  
    </div>

    <div class="navbar-center lg:flex">  
        <a href="/3D"class="btn btn-lg btn-primary text-xl">3D</a>
    </div>

    <div class="navbar-center lg:flex">  
        <a href="/2D"class="btn btn-lg btn-primary text-xl">2D</a>
    </div>

    <div class="navbar-center lg:flex">  
        <a href="/About"class="btn btn-lg btn-primary text-xl">About</a>
    </div>
    </div>

  </div>
</nav>

<main>
  {{ content }}

</main>
</body>